{% load static %}


        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>F.A.Q</h2>
            <p>Frequently Asked Questions</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="faq-container">
                        {% for question in Frequently %}
                            <div class="faq-item">
                                <h3>{{ question.title }}</h3>
                                <div class="faq-content">
                                    <p>{{ question.body }}</p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->
                        {% endfor %}
            </div>

        </div>
