{% load static %}


        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Pricing</h2>
            <p>Check Our Affordable Pricing<br></p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="pricing-tem">
                        <h3 style="color: #20c997;">{{ Price.all.0.plan }}</h3>
                        <div class="price"><sup>$</sup>{{ Price.all.0.price }}<span> / mo</span></div>
                        <div class="icon">
                            <i class="bi bi-box" style="color: #20c997;"></i>
                        </div>
                        <ul>
                            <li>{{ Price.all.0.plan_part1 }}</li>
                            <li>{{ Price.all.0.plan_part2 }}</li>
                            <li>{{ Price.all.0.plan_part3 }}</li>
                            <li>{{ Price.all.0.plan_part4 }}</li>
                            <li>{{ Price.all.0.plan_part5 }}</li>

                        </ul>
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="pricing-tem">
                        <span class="featured">Featured</span>
                        <h3 style="color: #0dcaf0;">{{ Price.all.1.plan }}</h3>
                        <div class="price"><sup>$</sup>{{ Price.all.1.price }}<span> / mo</span></div>
                        <div class="icon">
                            <i class="bi bi-send" style="color: #0dcaf0;"></i>
                        </div>
                        <ul>
                            <li>{{ Price.all.1.plan_part1 }}</li>
                            <li>{{ Price.all.1.plan_part2 }}</li>
                            <li>{{ Price.all.1.plan_part3 }}</li>
                            <li>{{ Price.all.1.plan_part4 }}</li>
                            <li class="na" >{{ Price.all.1.plan_part5 }}</li>
                        </ul>
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="pricing-tem">
                        <h3 style="color: #fd7e14;">{{ Price.all.2.plan }}</h3>
                        <div class="price"><sup>$</sup>{{ Price.all.2.price }}<span> / mo</span></div>
                        <div class="icon">
                            <i class="bi bi-airplane" style="color: #fd7e14;"></i>
                        </div>
                        <ul>
                            <li>{{ Price.all.2.plan_part1 }}</li>
                            <li>{{ Price.all.2.plan_part2 }}</li>
                            <li>{{ Price.all.2.plan_part3 }}</li>
                            <li>{{ Price.all.2.plan_part4 }}</li>
                            <li>{{ Price.all.2.plan_part5 }}</li>
                        </ul>
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="pricing-tem">
                        <h3 style="color: #0d6efd;">{{ Price.all.3.plan }}</h3>
                        <div class="price"><sup>$</sup>{{ Price.all.3.price }}<span> / mo</span></div>
                        <div class="icon">
                            <i class="bi bi-rocket" style="color: #0d6efd;"></i>
                        </div>
                        <ul>
                            <li>{{ Price.all.3.plan_part1 }}</li>
                            <li>{{ Price.all.3.plan_part2 }}</li>
                            <li>{{ Price.all.3.plan_part3 }}</li>
                            <li>{{ Price.all.3.plan_part4 }}</li>
                            <li>{{ Price.all.3.plan_part5 }}</li>
                        </ul>
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div><!-- End Pricing Item -->

            </div><!-- End pricing row -->

        </div>