{% load static %}


        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Services</h2>
            <p>Check Our Services<br></p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item item-cyan position-relative">
                        <i class="bi bi-activity icon"></i>
                        <h3>{{ Services.all.0.title }}</h3>
                        <p>{{ Services.all.0.body }}</p>
                        <a href="#" class="read-more stretched-link"><span>Read More</span> <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item item-orange position-relative">
                        <i class="bi bi-broadcast icon"></i>
                        <h3>{{ Services.all.1.title }}</h3>
                        <p>{{ Services.all.1.body }}</p>
                        <a href="#" class="read-more stretched-link"><span>Read More</span> <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item item-teal position-relative">
                        <i class="bi bi-easel icon"></i>
                        <h3>{{ Services.all.2.title }}</h3>
                        <p>{{ Services.all.2.body }}</p>
                        <a href="#" class="read-more stretched-link"><span>Read More</span> <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item item-red position-relative">
                        <i class="bi bi-bounding-box-circles icon"></i>
                        <h3>{{ Services.all.3.title }}</h3>
                        <p>{{ Services.all.3.body }}</p>
                        <a href="#" class="read-more stretched-link"><span>Read More</span> <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-item item-indigo position-relative">
                        <i class="bi bi-calendar4-week icon"></i>
                        <h3>{{ Services.all.4.title }}</h3>
                        <p>{{ Services.all.4.body }}</p>
                        <a href="#" class="read-more stretched-link"><span>Read More</span> <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item item-pink position-relative">
                        <i class="bi bi-chat-square-text icon"></i>
                        <h3>{{ Services.all.5.title }}</h3>
                        <p>{{ Services.all.5.body }}</p>
                        <a href="#" class="read-more stretched-link"><span>Read More</span> <i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>