{% load static %}


        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Our Values</h2>
            <p>What we value most<br></p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">
                {% for value in OurValue %}
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <img src="{{ value.image.url }}" class="img-fluid" alt="">
                            <h3>{{ value.title }}</h3>
                            <p>{{ value.body }}</p>
                        </div>
                    </div><!-- End Card Item -->
                {% endfor %}



            </div>

        </div>